1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "ondeso Gmbh"
            VALUE "FileDescription", "ondeso WebSock"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "websock"
            VALUE "LegalCopyright", "© 2024 ondeso GmbH"
            VALUE "OriginalFilename", "websock.exe"
            VALUE "ProductName", "ondeso WebSock"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

1 ICON "websock.ico"
1 RT_MANIFEST "main.manifest"

